<div class = "body-align-middle">
  <%= form_with url: "/home_loans/calculate", method: :post do |form| %>
    <h3><div style="text-align: center">Calculate Loan</div></h3>
    <br>

    <div>
      <%= form.label :amount %><br>
      <%= form.number_field :amount, min: 0, step: 0.01, required: true, value: session[:amount] %>
    </div>

    <br>
    <div>
      <%= form.label :term_in_years, 'Term (Years)' %><br>
      <%= form.text_field :term_in_years, required: true, value: session[:term_in_years] %>
    </div>

    <br>
    <div>
      <%= form.label :monthly_interest_rate %><br>
      <%= form.text_field :monthly_interest_rate, placeholder: '%', min: 0, required: true, value: session[:monthly_interest_rate] %>
    </div>

    <%= render partial: "shared/flash" %>

    <div>
      <%= form.submit 'Calculate', class: "button" %>
    </div>

    <br>
    <hr class="solid">
  <% end %>
  <%= form_with url: "/home_loans/reset", method: :get do |form| %>
    <div>
      <%= form.submit 'Reset Calculation', class: "button input" %>
    </div>
    <div class="white">
      <%= form.label :password %><br>
      <%= form.password_field :password, id:"password", class: "white", disabled: true %>
    </div>
  <% end %>
</div>
