<div class = "body-align-middle">
  <%= form_with url: "/users/create", method: :post, model: @user do |form| %>
    <h3><div style="text-align: center">Sign up</div></h3><br>
    <div>
      <%= form.label :email %><br>
      <%= form.text_field :email %>
    </div>

    <br>
    <div>
      <%= form.label :password %><br>
      <%= form.password_field :password_digest, id:"password" %>
    </div>

    <br>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>

    <br>
    <div>
      <%= form.label :phone %><br>
      <%= form.text_field :phone %>
    </div>

    <br>

    <br>
    <div>
      <%= form.submit 'Sign up', class: "button" %>
    </div>

    <% if @user.errors.any? %>
      <div style="color: red">
        <br>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
