<div class = "container">
  <h3>Sign in page</h3>
  <%= form_with model: @user do |form| %>
    <div>
      <%= form.label :email %><br>
      <%= form.text_field :email %>
    </div>

    <br>
    <div>
      <%= form.label :password %><br>
      <%= form.text_field :password %>
    </div>

    <br>

    <br>
    <div>
      <%= form.submit 'Sign in' %>
    </div>
  <% end %>
</div>
