<div class = "body-align-middle">
  <%= form_with url: "/users/new_session", method: :post, model: @user do |form| %>
    <h3><div style="text-align: center">Sign up</div></h3>
    <div>
      <%= form.label :email %><br>
      <%= form.text_field :email %>
    </div>

    <br>
    <div>
      <%= form.label :password %><br>
      <%= form.password_field :password, id:"password" %>
    </div>

    <br>

    <br>
    <div>
      <%= form.submit 'Sign up', class: "button" %>
    </div>
  <% end %>
</div>
