<div class = "body-align-middle">
  <%= form_with url: "/admin/profile/#{@user.id}/update_password", method: :patch, model: @user do |form| %>
    <h3><div style="text-align: center"><%= "Edit Password" %></div></h3>
    <br>
    <div>
      <%= form.label :email %><br>
      <%= form.text_field :email, disabled: true, class: "background-white"%>
    </div>
    <br>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name, class: "background-white"%>
    </div>
    <br>
    <div>
      <%= form.label :phone %><br>
      <%= form.text_field :phone, disabled: true, class: "background-white"%>
    </div>
    <br>
    <br>
    <div>
      <%= form.submit 'Update Profile', class: "button" %>
    </div>
  <% end %>
  <br>
  <%= form_with url: "/admin/profile/#{@user.id}", method: :get do |form| %>
    <div>
      <%= form.submit 'Back', class: "button input" %>
    </div>
    <div class="white">
      <%= form.label :password %><br>
      <%= form.password_field :password, id:"password", class: "white", disabled: true %>
    </div>
  <% end %>
</div>
