<div class = "body-align-middle">
  <%= form_with url: "/admin/profile/#{@user.id}/update_password", method: :post, model: @user do |form| %>
    <h3><div style="text-align: center"><%= "Edit Password" %></div></h3>
    <br>
    <div>
      <%= form.label :old_password %><br>
      <%= form.password_field :old_password, class: "background-white"%>
    </div>
    <br>
    <div>
      <%= form.label :new_password %><br>
      <%= form.password_field :new_password, class: "background-white"%>
    </div>
    <%= render partial: "shared/flash" %>
    <div>
      <%= form.submit 'Update Password', class: "button" %>
    </div>
  <% end %>
  <br>
  <%= form_with url: "/admin/profile/#{@user.id}", method: :get do |form| %>
    <div>
      <%= form.submit 'Back', class: "button input" %>
    </div>
    <div class="white">
      <%= form.label :password %><br>
      <%= form.password_field :password, id:"password", class: "white", disabled: true %>
    </div>
  <% end %>
</div>
