<div class = "body-align-middle">
  <%= form_with url: "/admin/profile/#{@user.id}/edit", method: :get, model: @user do |form| %>
    <h3><div style="text-align: center"><%= "My Profile" %></div></h3>
    <br>
    <table style="width: 100%">
      <tr>
        <th style="border-right: 2px solid black; border-left: 1px solid black; text-align: center">Following</th>
        <th style="border-right: 1px solid black; text-align: center">Followers</th>
      </tr>
      <tr>
        <td style="text-align: center"><%= @user.following.count %></td>
        <td style="text-align: center"><%= @user.followers.count %></td>
      </tr>
    </table>
    <%= render partial: "shared/flash" %>
    <div>
      <%= form.label :email %><br>
      <%= form.text_field :email, class: "background-white", disabled: true %>
    </div>
    <br>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name, class: "background-white", disabled: true %>
    </div>
    <br>
    <div>
      <%= form.label :phone %><br>
      <%= form.text_field :phone, class: "background-white", disabled: true %>
    </div>
    <br>
    <div>
      <%= form.label :status %><br>
      <%= form.text_field :status, class: "background-white", disabled: true %>
    </div>
    <br>
    <div>
      <%= form.submit 'Edit Profile', class: "button" %>
    </div>
  <% end %>
  <br>
  <%= form_with url: "/home_loans/new", method: :get do |form| %>
    <div>
      <%= form.submit 'Open Loan Calculator', class: "button input" %>
    </div>
    <div class="white">
      <%= form.label :password %><br>
      <%= form.password_field :password, id:"password", class: "white", disabled: true %>
    </div>
  <% end %>
</div>
