<div class = "body-align-middle">
  <%= form_with url: "/admin/profile/#{@user.id}/edit", method: :get, model: @user do |form| %>
    <h3><div style="text-align: center"><%= "Profile #{@user.name}" %></div></h3>
    <br>
    <div>
      <%= form.label :email %><br>
      <%= form.text_field :email, class: "background-white", disabled: true %>
    </div>
    <br>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name, class: "background-white", disabled: true %>
    </div>
    <br>
    <div>
      <%= form.label :phone %><br>
      <%= form.text_field :phone, class: "background-white", disabled: true %>
    </div>
    <br>
    <div>
      <%= form.label :status %><br>
      <%= form.text_field :status, class: "background-white", disabled: true %>
    </div>
  <% end %>
  <br>
  <br>
  <%= form_with url: "/home_loans/new", method: :get do |form| %>
    <div>
      <%= form.submit 'Open Loan Calculator', class: "button input" %>
    </div>
    <div class="white">
      <%= form.label :password %><br>
      <%= form.password_field :password, id:"password", class: "white", disabled: true %>
    </div>
  <% end %>
</div>
