<p style="color: green"><%= notice %></p>

<h1>List of Products</h1>

<h3>Products per page: <%= @products.count %> / <%= Product.count %></h3>

<br>

<%== pagy_bootstrap_nav(@pagy) %>

<%= link_to "New product", new_product_path %>
<br>
<table class="table" style="width: 45%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Avatar</th>
      <th colspan="3" style="width: 10%"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product %></td>
        <td><%= product.price %></td>
        <td><%= %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
