<%= form_with(model: @product) do |form| %>
  <br>
  <h1>Show Product</h1>
  <br>
  <div class="field">
    <strong><%= form.label :name, 'Name:' %></strong><br>
    <%= form.text_field :name, required: true, disabled: true %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :price, 'Price:' %></strong><br>
    <%= form.number_field :price, disabled: true, min: 0, step: 0.01, required: true %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :avatar, 'Avatar:' %></strong><br>
    <% if @product.avatar.attached? %>
      <%= image_tag @product.avatar, width: "200px" %><br>
      <%= link_to "Delete avatar", purge_avatar_product_path(@product), method: :delete %>
    <% end %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :images, 'Images:' %></strong><br>
    <% if @product.images.attached? %>
      <% @product.images.each do |attachment| %>
        <% if attachment.image? %>
          <%= image_tag attachment, width: "200px" %>
        <% elsif attachment.audio? %>
          <audio controls>
            <source src="<%= rails_blob_url(attachment) %>" type="<%= attachment.content_type %>">
          </audio>
        <% elsif attachment.video? %>
          <video width="320" height="240" controls>
            <source src="<%= rails_blob_url(attachment) %>" type="<%= attachment.content_type %>">
          </video>
        <% else %>
          <%= link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment") %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>
</div>

