<%= form_with(model: @product) do |form| %>
  <br>
  <h1>Show Product</h1>
  <br>
  <div class="field">
    <strong><%= form.label :name, 'Name:' %></strong><br>
    <%= form.text_field :name, required: true, disabled: true %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :price, 'Price:' %></strong><br>
    <%= form.number_field :price, disabled: true, min: 0, step: 0.01, required: true %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :avatar, 'Avatar:' %></strong><br>
    <% if @product.avatar.attached? %>
      <%= image_tag @product.avatar, width: "200px" %><br>
    <% end %>
  </div>
  <br>
  <div class="field">
    <strong><%= form.label :images, 'Images:' %></strong><br>
    <% if @product.images.attached? %>
      <% @product.images.each do |image| %>
        <%= image_tag image, width: "200px" %>
      <% end %>
    <% end %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>
</div>

